@import '../../styles/variables.scss';

.desert{
 background: url(../../images/hex-desert.jpg);
}
.field{
 background: url(../../images/hex-field.jpg);
}
.forest{
 background: url(../../images/hex-forest.jpg);
}
.hill{
 background: url(../../images/hex-hill.jpg);
}
.mountain{
 background: url(../../images/hex-mountain.jpg);
}
.pasture{
 background: url(../../images/hex-pasture.jpg);
}

.hexagonal {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-size: $fullHexWidth;
  width: $fullHexWidth;
  height: $fullHexHeight;
}

